.swiper-button-next,
.swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important; /* Adjust icon size */
}
